@model FrontBerries.ViewModels.CreateClientVM
@{
    ViewData["Title"] = "Create Client";
}

<h1>Create New Client</h1>

<form asp-action="Create" method="post">
    <div>
        <h3>Person Details</h3>
        <div class="form-group">
            <label asp-for="PersonModel.Name" class="control-label"></label>
            <input asp-for="PersonModel.Name" class="form-control" />
            <span asp-validation-for="PersonModel.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PersonModel.LastName" class="control-label"></label>
            <input asp-for="PersonModel.LastName" class="form-control" />
            <span asp-validation-for="PersonModel.LastName" class="text-danger"></span>
        </div>



        <div class="form-group">
            <label asp-for="PersonModel.NumberIdentification" class="control-label"></label>
            <input asp-for="PersonModel.NumberIdentification" class="form-control" />
            <span asp-validation-for="PersonModel.NumberIdentification" class="text-danger"></span>
        </div>
    </div>

    <div>
        <h3>Contact Details</h3>
        <div class="form-group">
            <label asp-for="ContactModel.Email" class="control-label"></label>
            <input asp-for="ContactModel.Email" class="form-control" />
            <span asp-validation-for="ContactModel.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ContactModel.Phone" class="control-label"></label>
            <input asp-for="ContactModel.Phone" class="form-control" />
            <span asp-validation-for="ContactModel.Phone" class="text-danger"></span>
        </div>
    </div>

    <div>
        <h3>Address Details</h3>
        <div class="form-group">
            <label asp-for="AddressModel.Addres" class="control-label"></label>
            <input asp-for="AddressModel.Addres" class="form-control" />
            <span asp-validation-for="AddressModel.Addres" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CityModel.NameCity" class="control-label"></label>
            <input asp-for="CityModel.NameCity" class="form-control" />
            <span asp-validation-for="CityModel.NameCity" class="text-danger"></span>
        </div>

    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
