@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="image-container">
        <img src="~/src/moralipsislogo.png" width="150" height="150" />
        <img src="~/src/picture1.png" align="right" width="150" height="150" />
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <a href="LoginU">
            <button type="button" style="margin-right: 20px; padding: 15px 30px; background-color: mediumpurple; color: white; border: none; border-radius: 10px; font-size: 18px; cursor: pointer;">Juego</button>
        </a>
        <a href="LoginS">
            <button type="button" style="padding: 15px 30px; background-color: mediumpurple; color: white; border: none; border-radius: 10px; font-size: 18px; cursor: pointer;">Sistema</button>
        </a>
    </div>

    @if (ViewData["Mensaje"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewData["Mensaje"]
        </div>
    }
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
