@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div>
        <div class="image-container">
            <img src="~/src/moralipsislogo.png" width="150" height="150" />
            <img src="~/src/picture1.png" align="right" width="150" height="150" />
        </div>

        <div style="display: flex; justify-content: center; align-items: center; height: 80vh; text-align: center;">
            <a asp-controller="Acceso" asp-action="Login" style="display: inline-block; margin: 10px; padding: 15px 30px; background-color: mediumpurple; color: white; border: none; border-radius: 10px; font-size: 18px; cursor: pointer; text-decoration: none;">
                Moralipsis
            </a>
            <a asp-controller="SystemAccess" asp-action="SystemLogin" style="display: inline-block; margin: 10px; padding: 15px 30px; background-color: mediumpurple; color: white; border: none; border-radius: 10px; font-size: 18px; cursor: pointer; text-decoration: none;">
                Berries Management System
            </a>
        </div>
    </div>

    @if (ViewData["Mensaje"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewData["Mensaje"]
        </div>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
