@using System.Security.Claims;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BerriesManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FrontBerries.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid p-2">
        <div class="row justify-content-start">
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <img src="~/src/icondefault.png" alt="User Icon" style="width: 28px; height: 28px;" />
                        <span style="color: #666666; font-weight: bold;">  @User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault()</span>
                        <ul class="nav flex-column mt-3">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="LoginGet">Game User</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Supplies" asp-action="SuppliesGet">Supplies</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Exit">Exit</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <header class="text-center">
                    <h1>BerriesManagementSystem</h1>
                </header>
                <main role="main" class="pb-3">
                    @{
                        var errorMessage = TempData["errorMessage"]?.ToString();
                        var successMessage = TempData["successMessage"]?.ToString();
                    }
                    @if (!string.IsNullOrWhiteSpace(successMessage))
                    {
                        <div class=" alert alert-success">
                            <b>Success : </b>@successMessage
                            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    else if (!string.IsNullOrWhiteSpace(errorMessage))
                    {
                        <div class=" alert alert-danger">
                            <b>Error : </b>@errorMessage
                            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FrontBerries - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/customjs.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
