@using System.Security.Claims;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BerriesManagementSystem</title>
    <link rel="icon" type="image/png" href="~/src/moralipsispng.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FrontBerries.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid p-2">
        <div class="row justify-content-start">
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <div style="display: flex; align-items: center;">
                            <img src="~/src/icondefault.png" alt="User Icon" style="width: 28px; height: 28px;" />
                            <span style="color: #666666; font-weight: bold; margin-left: 10px;">
                                @User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault()
                            </span>
                        </div>
                        <ul class="nav flex-column mt-3">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" style="font-weight: bold; display: flex; align-items: center;">
                                    <img src="~/src/home.png" alt="Home Icon" style="width: 20px; height: 20px; margin-right: 5px;" />Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy" style="font-weight: bold; display: flex; align-items: center;">
                                    <img src="~/src/privacidad.png" alt="Privacy Icon" style="width: 20px; height: 20px; margin-right: 5px;" />Privacy
                                </a>
                            </li>
                      
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Supplies" asp-action="SuppliesGet" style="font-weight: bold; display: flex; align-items: center;">
                                    Supplies
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="ContactGet" style="font-weight: bold; display: flex; align-items: center;">
                                    Contacts</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Person" asp-action="PersonGet" style="font-weight: bold; display: flex; align-items: center;">
                                    Person</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="IdentificationType" asp-action="IdentificationTypeGet" style="font-weight: bold; display: flex; align-items: center;">
                                    IdentificationType</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="ClientGet" style="font-weight: bold; display: flex; align-items: center;">
                                    Clients</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="EmployeesGet" style="font-weight: bold; display: flex; align-items: center;">
                                    Employees</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="SystemSystemLogin" asp-action="SystemLoginGet" style="font-weight: bold; display: flex; align-items: center;">
                                    System Users
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="BillSale" asp-action="BillSaleGet" style="font-weight: bold; display: flex; align-items: center;">
                                    Bill Sales
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Tracking" asp-action="TrackingGet" style="font-weight: bold; display: flex; align-items: center;">
                                    Tracking
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Storage" asp-action="StorageGet" style="font-weight: bold; display: flex; align-items: center;">
                                    Storage
                                </a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Exit" style="font-weight: bold; display: flex; align-items: center;">
                                    <img src="~/src/salida.png" alt="Exit Icon" style="width: 20px; height: 20px; margin-right: 5px;" />Exit
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <header class="text-center">
                    <h1>BerriesManagementSystem</h1>
                </header>
                <main role="main" class="pb-3">
                    @{
                        var errorMessage = TempData["errorMessage"]?.ToString();
                        var successMessage = TempData["successMessage"]?.ToString();
                    }
                    @if (!string.IsNullOrWhiteSpace(successMessage))
                    {
                        <div class="alert alert-success">
                            <b>Success : </b>@successMessage
                            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    else if (!string.IsNullOrWhiteSpace(errorMessage))
                    {
                        <div class="alert alert-danger">
                            <b>Error : </b>@errorMessage
                            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FrontBerries - <a asp-area="" asp-controller="Home" asp-action="Privacy" style="font-weight: bold;">Privacy</a>
        </div>
    </footer>
    <script src="~/js/customjs.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
