@model FrontBerries.Models.ContactViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Create";
}

<h1 style="color: black; font-family:'Trebuchet MS',sans-serif; font-weight:bold;">New Register</h1>
<h4 style="color: black; font-family:'Trebuchet MS',sans-serif; font-weight:bold;">Contacts</h4>
<hr />
<head>
    <title>Inline Form Elements Example</title>
    <!-- Incluir el CSS de Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Incluir tu propio archivo CSS -->
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
        .form-group-inline {
            display: flex;
            align-items: center;
        }

            .form-group-inline label {
                margin-right: 10px; /* Espacio entre la etiqueta y el campo de entrada */
                min-width: 100px; /* Ancho mínimo para las etiquetas */
            }

            .form-group-inline input {
                flex-grow: 1; /* Permite que el campo de entrada tome todo el espacio restante */
            }

            .form-group-inline span {
                margin-left: 10px; /* Espacio entre el campo de entrada y el mensaje de validación */
            }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-4" style="color: black;">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group">
                <label asp-for="IdLogin" class="control-label"></label>
                <input asp-for="IdLogin" class="form-control" />
                <span asp-validation-for="IdLogin" class="text-danger"></span>
                </div>*@
                <div class="form-group form-group-inline">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" style="border-color: black;" placeholder="Phone" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group form-group-inline">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" style="border-color: black;" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                <label asp-for="RegisterDate" class="control-label"></label>
                <input asp-for="RegisterDate" class="form-control" />
                <span asp-validation-for="RegisterDate" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                <label class="form-check-label">
                <input class="form-check-input" asp-for="StateDelete" /> @Html.DisplayNameFor(model => model.StateDelete)
                </label>
                </div>*@
                <div class="form-group mt-2">
                    <input type="submit" value="Create" class="btn" style="background-color: mediumpurple; color: white;" />
                </div>
                <div>
                    <a asp-action="ContactGet" style="color: rebeccapurple;">Back</a>
                </div>
            </form>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

