@model FrontBerries.ViewModels.LoginVM;
@{
    Layout = null;
}
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Iniciar Sesión
                </div>
                <div class="card-body">


                    <form asp-controller="Acceso" asp-action="Login" method="post">
                        <input class="form-control mb-3" type="text" placeholder="Nombre Usuario" required asp-for="UserName" />
                        <input class="form-control mb-3" type="password" placeholder="Contraseña" required asp-for="Password" />
                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
                        </div>

                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewData["Mensaje"]
                            </div>
                        }
                        ¿No tienes una cuenta?<a asp-controller="Acceso" asp-action="Registro">Registrarse</a>
                    </form>
                </div>
            </div>
        </div>
    </div>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
